/* /* @font-face{
  font-family: charter;
  src: url("../fonts/charter-regular.otf");
  font-style: normal;
  font-weight: normal; /* peso normal es 400
}

/* @font-face{
  font-family: charter;
  src: url("../fonts/charter-italic.otf") ;
  font-style: italic;
  font-weight: normal;
} */

/* @font-face{
  font-family: charter;
  src: url("../fonts/charter-bold.otf");
  font-style: normal;
  font-weight: bold;
} */

/* @font-face{
  font-family: charter ;
  src: url("../fonts/charter-bold-italic.otf") ;
  font-style: italic;
  font-weight: bold;
} */

:root{
  font-size: 18px;
  --gray30: #212121;  /*del body en general*/
  --gray20: #212429; /*del footer*/
  --gray10: #616161; /*de las anclas*/
}

body {
  color: var(--gray30);
  font-family: 'Roboto', sans-serif; /* fuente tomada de google fonts con opcion link y pegada en HTML  */
}

a {
  color: var(--gray30);
}

header {
  font-size: 14px;
  color: var(--gray10);
}

header a {
  color: var(--gray10);
  text-decoration: none;
}

header a:hover {
  color: var(--gray30);
}

header details summary {
  font-weight: bold;
}

h1 {
  font-size: 60px;
  /* font-size: 3,75em; porque divide 60 entre 16 pixels que por defecto tiene el navegador */
}

h2 {
  /* font-size: 32px; */
  font-size: 2em;
}

h3 {
  /* font-size: 24px; o dividimos 24 entre 16 y da 1.5em  con punto no coma*/
  font-size: 1.5em;
}

pre{
  background: #FEC62E;
}

.hero{
  background-image:  linear-gradient( to top, rgba(255,255,255, .3), transparent), url(../images/pattern.png);
  height: 350px
  /* background-image: radial-gradient(closest-side at 60% 55%, blue, green, yellow, black); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: left 20px bottom 200px; */
}

::selection{
  background: gray;
}

h3::after{
  content: ' ';
  height: 4px;
  width: 192px;
  background: var(--gray30);
  display: inline-block;
}